<!-- _includes/featured-titles.html -->
<div class="featured-titles">
  <!--{% assign shuffled_books = site.data.books | sample: 3 %}-->
  {% assign exp = "item.tags contains include.trope" %}
  {% assign tropeBooks = site.data.books-all | where_exp: "item", "item.tags contains page.tag" %}
  {% for book in tropeBooks %}
    <div class="book-card">
      <a href="/book-summary/{{ book.page }}">
        <img src="/images/covers/{{ book.cover }}" alt="{{ book.title }} cover">
      </a>
      <div class="content">
        <h3>{{ book.title }}</h3>
        <p>{{ book.content }}</p>
        {% if book.tags != nil && book.tags.count > 0 %}
        <ul class="trope-tags">
          {% for tag in book.tags %}
            <li><span>{{ tag }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if book.buy_url != nil %}
        <a class="buy-button" href="{{ book.buy_url }}">Buy Now</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>