<!-- _includes/featured-titles.html -->
<div class="featured-titles">
  {% assign shuffled_books = site.data.books | sample: 3 %}
  {% for book in shuffled_books %}
    <div class="book-card">
      <img src="{{ book.cover }}" alt="{{ book.title }} cover">
      <h3>{{ book.title }}</h3>
      <p>{{ book.description }}</p>
      <ul class="tags">
        {% for tag in book.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
      <a class="buy-button" href="{{ book.buy_link }}">Buy Now</a>
    </div>
  {% endfor %}
</div>
